<link rel="stylesheet" type="text/css" href="assets/index.css">

<!-- <script> 
  $(function(){
    $("#modalholder").load("/views/store/modal.html.erb"); 
  });
</script>  -->

<div>
  <div id="content">
    <!-- <h1 class="centered">We will be accepting orders starting Oct 1st!</h1> -->
    <section class="minus-margin-top">
      <div class="row centered main-section">
        <!-- <h1 class="header">We are currently in testing and will be live in mid-September</h1> -->
        <!-- <p class="bigger"><span class="centered"><img class="image-style" src="assets/logo_simple.png" /></span> was launched so that you can enjoy the best steaks at reasonable prices with the convenience of next day delivery. All of our steaks are perfectly aged and mostly USDA Prime, which is why they melt in your mouth. These are the steaks that the finest restaurants use and you can't find at the grocery store. Try our steaks and then tell us if you have ever had a better cut of meat anywhere else.</p> -->
        <img class="image-style" src="assets/logo_simple.png" />
        <%= render partial: 'signup' %>
        <div class="about signup-form-after">
          <!-- <img class="satisfaction-style" src="assets/satisfaction_guarantee.png" /> -->
          <p class="bigger">Chicago's Best Steaks.</p>
          <p class="bigger">Delivered Tomorrow.</p>
          <button onclick="window.location = '/steaks'" class="learn-more layer-shadow5 shop-background">Shop Now</button>
        </div>
      </div>
    </section>

    <%= render partial: 'why_us' %>
    <%= render partial: 'product_carousel' %>
    <%= render partial: 'how_it_works' %>
    <%= render partial: 'reviews' %>
    <%= render partial: 'gordon_ramsay_cooking' %>
  </div>
</div>
