<link rel="stylesheet" type="text/css" href="assets/index.css">
<link rel="stylesheet" type="text/css" href="assets/store.css">

<section class="padding-top-100 border-bottom left-padded padded-bottom-150">
   <%= render partial: 'main', locals: { header: 'Your Local Online Butcher', description: 'Premier Steaks. Delivered Next Day.', description_float: 'left', pic_float: 'right', image_url: @main_pic, padding: '0', showlogo: true, showbutton: true} %>
</section>
<!-- <section class="margin-top-minus"> -->
  <%= render partial: 'signup_form' %>
<!-- </section> -->
<section class="padded-top-50 border-bottom left-padded right-padded padded-bottom-50">
  <%= render partial: 'product_snapshot', locals: {steaks: @product_snapshot } %>
</section>
<section class="padded-top-50 border-bottom left-padded right-padded padded-bottom-50">
  <%= render partial: 'how_it_works_2' %>
</section>
<section class="padded-top-50 border-bottom padded-bottom-50">
  <%= render partial: 'why_us_2', locals: {name: 'Sam'}%>
</section>
<section class="padded-top-50 border-bottom right-padded padded-bottom-50">
  <%= render partial: 'main', locals: { header: 'Easy To Prepare', description: 'Just Season, Pan Sear, and Enjoy.', description_float: 'right', pic_float: 'left', image_url: 'assets/buttering_steak.jpg', padding: '20', showlogo: false, showbutton: true} %>
</section>
<section class="padded-top-50 border-bottom padded-bottom-50">
  <%= render partial: 'reviews_2' %>
</section>
<section class="padded-top-50 border-bottom left-padded padded-bottom-50">
  <%= render partial: 'main', locals: { header: 'Mmm Steak', description: 'The Best Steaks You Will Find.', description_float: 'left', pic_float: 'right', image_url: 'assets/juicy_steak.JPG', padding: '20', showlogo: false, showbutton: true} %>
</section>

<!-- Hotjar Tracking Code for www.iheartmeat.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:747678,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
