<link rel="stylesheet" type="text/css" href="assets/index.css">

<!-- <script> 
  $(function(){
    $("#modalholder").load("/views/store/modal.html.erb"); 
  });
</script>  -->
<div>
  <div class="backdrop"></div>
  <%= render partial: 'cold_modal' %>
  <div id="content">
    <!-- <h1 class="centered">We will be accepting orders starting Oct 1st!</h1> -->
    <section class="minus-margin-top">
      <%= render partial: 'main_section' %>
    </section>
    <section style="background-color: #ff0018;">
      <%= render partial: 'how_it_works' %>
    </section>
    <section>
      <!-- <img class="img img-responsive" src="assets/shopping_v_delivery.jpg" /> -->
    </section>
    <section>
      <%= render partial: 'product_carousel' %>
    </section>
    <section style="background-color: #ff0018;">
      <%= render partial: 'why_us' %>
    </section>
    <section>
      <%= render partial: 'reviews' %>
    </section>
    <!-- <%= render partial: 'gordon_ramsay_cooking' %> -->
    <div style="background-color: #ff0018;">
      <%= render partial: 'signup' %>
    </div>
    <section><%= render partial: 'styro_box' %></section>
  </div>
</div>


<style type="text/css">
  .backdrop {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: block;
    background: black;
    opacity: 0.5;
    display: none;
    z-index:999;
  }
</style>
