<link rel="stylesheet" type="text/css" href="assets/index.css">

<!-- <script> 
  $(function(){
    $("#modalholder").load("/views/store/modal.html.erb"); 
  });
</script>  -->
<div>
  <div id="content">
    <!-- <h1 class="centered">We will be accepting orders starting Oct 1st!</h1> -->
    <section class="minus-margin-top">
      <%= render partial: 'main_section' %>
    </section>
    <section>
      <%= render partial: 'how_it_works' %>
    </section>
    <section>
      <!-- <img class="img img-responsive" src="assets/shopping_v_delivery.jpg" /> -->
    </section>
    <section>
      <%= render partial: 'why_us' %>
    </section>
    <section>
      <%= render partial: 'styro_box' %>
    </section>
    <section>
      <%= render partial: 'product_carousel' %>
    </section>
    
    <%= render partial: 'reviews' %>
    <!-- <%= render partial: 'gordon_ramsay_cooking' %> -->
    <div style="background-color: #00fff3;">
      <%= render partial: 'signup' %>
    </div>
  </div>
</div>
